body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

.banner{
    background-image: url(zebra\ banner\ 2\ 1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .fs-4{
        color: orangered;
    }

    
            
     .nav{padding-right: 80px;


     
    

    .nav-link{
        color: white;
        padding-right: 25px ;
        padding-left: 25px;
         
    }
}  
    
    .display-1{
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        font-size: 140px;
        margin-top: 75px;
    }
    .hamburger-menu {
        cursor: pointer;
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 40px;
        margin-top: 10px;
      }
  
      .bar {
        background-color: white;
        height: 4px;
        width: 100%;
      }
  
      /* Hidden menu styling */
      .hidden-menu {
        display: none;
       
        li{
            a{
                text-decoration: none;
                color: aliceblue;
                
            }
        }

      
      }
  
      /* Show menu when active */
      .hidden-menu.active {
        display: block;
        
      }

     

     
  
}

  .Activities{
    min-height: 90vh;

    .container{
.card-group{
    gap: 12px;
    position: relative;
    
    .card-body{
       position: absolute;
       top: 20rem;
        .card-text{
            display: none;
        }
        transition: all 0.3s ;
    }

    .card-body:hover{
      top: 10rem;
      .card-text{
       display: block;
      }
      
    }
}
}
  }

    
 .container{
    min-height: 70vh;
    

    .container{
        display: flex;
        flex-direction: row;
        gap: 18px;
        

        .col-md-3{
           min-height: 500px;
                position: relative;
            .overlay{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height:100%;
                background-color: rgba(255, 68, 0, 0.336);
            }
            h4{
                display: flex;
                justify-content: center;
                text-align: center;
                font-style: italic;
                color: white;
                margin-top: 400px;
            }
        }

        .col-md-6{
            border: 2px solid red;
             display: flex;
             flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            img{
                width: 100px;
                height: 100px;
            }
            span{
                height: 3px;
                width: 100px;
                background-color: red;
                
            }
            h4{
                font-style: italic;
                margin-top: 50px;
            }
        }
    }
 }

 .Gallery{
   min-height:  110vh;
   padding-bottom: 20px;
   
     .container{
        
        
          

        .row{
            display: flex;
            img{
                height: 100%;
                padding-top: 25px;
            }

         
        }
     }



 }
.Main{
   min-height: 100vh;
   
    .container{

        .row{
            .col-md-6{

                .content{
                    display: flex;
                    
                    .text{
                        background-color: orangered;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                         
                        
                        
                        color: white;

                       

                        h5{
                            padding-left: 15px;
                        }

                        p{
                            padding-left: 15px;
                            
                        }
                        h4{
                            font-size: 19px;
                            margin-top: 19px;
                            padding-left: 15px;
                        }

                        .mag{
                            display: flex;
                            flex-direction: row;

                            img{
                                margin-left: 35px;
                                margin-top: 19px;
                            }
                           
                           
                        }
                       
                        
                            
                            
                            

                        

                    }
                    .picture{
                            width: 50%;
                            img{
                                width: 100%;
                            }
                    }
                }
            }

            .col-md-3{
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            
        }
    }
}

.Story{
   min-height: 100vh;
   
    


}

.recent{
   min-height:  100vh;
   

   
}
.for{
    
    .container-fluid{

        .container{

            .line{

                hr{
                    height: 2px;
                    background-color: white;
                    position: relative;
                    bottom: 50px;
                }
                p{
                    display: flex;
                    justify-content: center;
                    position: relative;
                    bottom: 50px;
                }
            }
        }
    }
}


   @media (max-width :576px) {
    .container{
        min-height: 70vh;
        
    
        .container{
            display: flex;
            flex-direction: column;
            gap: 18px;
        } 
    }  
    
    .banner{
        background-image: url(zebra\ banner\ 2\ 1.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
    
        .fs-4{
            color: orangered;
        }
    
        
                
         .nav{padding-right: 80px;
    
    
         
        
    
        .nav-link{
            color: white;
            padding-right: 10px ;
            padding-left: 10px;
        
             
        }
    }  
        
    
    .display-1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 48px;
    margin-top: 10px;
}
.hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: -30px;
  }

  .bar {
    background-color: white;
    height: 4px;
    width: 100%;
  }
    /* Hidden menu styling */
    .hidden-menu {
        display: none;
       
        li{
            a{
                text-decoration: none;
                color: aliceblue;
                
            }
        }

      
      }
  
      /* Show menu when active */
      .hidden-menu.active {
        display: block;
        
      }  /* Hidden menu styling */
      .hidden-menu {
        display: none;
       
        li{
            a{
                text-decoration: none;
                color: aliceblue;
                
            }
        }

      
      }
  
      /* Show menu when active */
      .hidden-menu.active {
        display: block;
        
      }  /* Hidden menu styling */
      .hidden-menu {
        display: none;
       
        li{
            a{
                text-decoration: none;
                color: aliceblue;
                
            }
        }

      
      }
  
      /* Show menu when active */
      .hidden-menu.active {
        display: block;
        
      }
    }

    .Main{
        min-height: 100vh;
        
        
                    }
                }     

    







