body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

.banner{
    background-image: url(zebra\ banner\ 2\ 1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    .fs-4{
        color: orangered;
    }

    ul{
        .hamburger{
            
            .line{
                width: 25px;
                height: 5px;
                margin: 5px;
                background-color: white;
            }
        }
    }

    .nav-link{
        color: white;
    }
    
    .display-1{
        display: flex;
        justify-content: center;
        color: white;
        font-size: 150px;
        margin-top: 70px;
    }
}

  .Activities{
    min-height: 90vh;

    .container{
.card-group{
    gap: 12px;
    position: relative;
    
    .card-body{
       position: absolute;
       top: 20rem;
        .card-text{
            display: none;
        }
        transition: all 0.3s ;
    }

    .card-body:hover{
      top: 10rem;
      .card-text{
       display: block;
      }
      
    }
}
}
  }

    
 .container{
    

    .container{
        display: flex;
        gap: 18px;
        

        .col-3{
           min-height: 500px;
                position: relative;
            .overlay{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height:100%;
                background-color: rgba(255, 68, 0, 0.336);
            }
            h3{
                display: flex;
                justify-content: center;
                text-align: center;
                font-style: italic;
                color: white;
                margin-top: 400px;
            }
        }

        .col-6{
            border: 2px solid red;
             display: flex;
             flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            img{
                width: 100px;
                height: 100px;
            }
            span{
                height: 3px;
                width: 100px;
                background-color: red;
                
            }
            h3{
                font-style: italic;
                margin-top: 50px;
            }
        }
    }
 }

 .Gallery{
    height: 115vh;
     .container{
        
          

        .row{
            display: flex;
            
        }
     }



 }
.Main{
   min-height: 100vh;
    .container{

        .row{
            .col-6{

                .content{
                    display: flex;
                    
                    .text{
                        background-color: orangered;
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                         
                        
                        
                        color: white;

                        p{
                            text-align: center;
                            padding: 10px;
                        }
                        
                            
                            
                            

                        

                    }
                    .picture{
                            width: 50%;
                            img{
                                width: 100%;
                            }
                    }
                }
            }

            .col-3{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.Story{
   min-height: 120vh;
    


}

.recent{
    height: 130vh;

    .container{
        .row{
            .col-3{
                position: relative;
                bottom: 200px;
            }


        }
    }
}





