body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: sans-serif;
}

.banner {
  background-image: url(zebra\ banner\ 2\ 1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* Hidden menu styling */
  /* Show menu when active */
}
.banner .fs-4 {
  color: orangered;
}
.banner .nav {
  padding-right: 80px;
}
.banner .nav .nav-link {
  color: white;
  padding-right: 25px;
  padding-left: 25px;
}
.banner .display-1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 140px;
  margin-top: 75px;
}
.banner .hamburger-menu {
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: 10px;
}
.banner .bar {
  background-color: white;
  height: 4px;
  width: 100%;
}
.banner .hidden-menu {
  display: none;
}
.banner .hidden-menu li a {
  text-decoration: none;
  color: aliceblue;
}
.banner .hidden-menu.active {
  display: block;
}

.Activities {
  min-height: 90vh;
}
.Activities .container .card-group {
  gap: 12px;
  position: relative;
}
.Activities .container .card-group .card-body {
  position: absolute;
  top: 20rem;
  transition: all 0.3s;
}
.Activities .container .card-group .card-body .card-text {
  display: none;
}
.Activities .container .card-group .card-body:hover {
  top: 10rem;
}
.Activities .container .card-group .card-body:hover .card-text {
  display: block;
}

.container {
  min-height: 70vh;
}
.container .container {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.container .container .col-md-3 {
  min-height: 500px;
  position: relative;
}
.container .container .col-md-3 .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 68, 0, 0.336);
}
.container .container .col-md-3 h4 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
  color: white;
  margin-top: 400px;
}
.container .container .col-md-6 {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container .container .col-md-6 img {
  width: 100px;
  height: 100px;
}
.container .container .col-md-6 span {
  height: 3px;
  width: 100px;
  background-color: red;
}
.container .container .col-md-6 h4 {
  font-style: italic;
  margin-top: 50px;
}

.Gallery {
  min-height: 110vh;
  padding-bottom: 20px;
}
.Gallery .container .row {
  display: flex;
}
.Gallery .container .row img {
  height: 100%;
  padding-top: 25px;
}

.Main {
  min-height: 100vh;
}
.Main .container .row .col-md-6 .content {
  display: flex;
}
.Main .container .row .col-md-6 .content .text {
  background-color: orangered;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: white;
}
.Main .container .row .col-md-6 .content .text h5 {
  padding-left: 15px;
}
.Main .container .row .col-md-6 .content .text p {
  padding-left: 15px;
}
.Main .container .row .col-md-6 .content .text h4 {
  font-size: 19px;
  margin-top: 19px;
  padding-left: 15px;
}
.Main .container .row .col-md-6 .content .text .mag {
  display: flex;
  flex-direction: row;
}
.Main .container .row .col-md-6 .content .text .mag img {
  margin-left: 35px;
  margin-top: 19px;
}
.Main .container .row .col-md-6 .content .picture {
  width: 50%;
}
.Main .container .row .col-md-6 .content .picture img {
  width: 100%;
}
.Main .container .row .col-md-3 img {
  width: 100%;
  height: 100%;
}

.Story {
  min-height: 100vh;
}

.recent {
  min-height: 100vh;
}

.for .container-fluid .container .line hr {
  height: 2px;
  background-color: white;
  position: relative;
  bottom: 50px;
}
.for .container-fluid .container .line p {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
}

@media (max-width: 576px) {
  .container {
    min-height: 70vh;
  }
  .container .container {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  .banner {
    background-image: url(zebra\ banner\ 2\ 1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* Hidden menu styling */
    /* Show menu when active */
    /* Hidden menu styling */
    /* Show menu when active */
    /* Hidden menu styling */
    /* Show menu when active */
  }
  .banner .fs-4 {
    color: orangered;
  }
  .banner .nav {
    padding-right: 80px;
  }
  .banner .nav .nav-link {
    color: white;
    padding-right: 10px;
    padding-left: 10px;
  }
  .banner .display-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 48px;
    margin-top: 10px;
  }
  .banner .hamburger-menu {
    cursor: pointer;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 10px;
    margin-top: -30px;
  }
  .banner .bar {
    background-color: white;
    height: 4px;
    width: 100%;
  }
  .banner .hidden-menu {
    display: none;
  }
  .banner .hidden-menu li a {
    text-decoration: none;
    color: aliceblue;
  }
  .banner .hidden-menu.active {
    display: block;
  }
  .banner .hidden-menu {
    display: none;
  }
  .banner .hidden-menu li a {
    text-decoration: none;
    color: aliceblue;
  }
  .banner .hidden-menu.active {
    display: block;
  }
  .banner .hidden-menu {
    display: none;
  }
  .banner .hidden-menu li a {
    text-decoration: none;
    color: aliceblue;
  }
  .banner .hidden-menu.active {
    display: block;
  }
  .Main {
    min-height: 100vh;
  }
}/*# sourceMappingURL=style.css.map */